{% extends 'base.html' %}
{% block content %}
<a href="/signup">Sign up</a>
<a href="/login">login</a>
<form method="POST" action="/">
    {{ form.csrf_token }}
    {{ form.city.label }} {{ form.city(size=20, placeholder='ex: Seattle') }} 
    {{ form.state.label }} {{ form.state(size=20, placeholder='ex: Washington') }}
    <input type="submit" value="Go">
</form>
<p>Looking for something more specific? <a href="/type">Click here</a></p>
<p>Or maybe something a little more <a href='/random'>random?</a></p>
{% for brewery in brewery_info %}

<div>
    <ul>
        <li>{{ brewery.name }} 
            <br>
            {{ brewery.city }} {{ brewery.state }} 
            <br>
            {{ brewery.street }}{{ brewery.postal_code}}
            <br>
            Phone Number: {{ brewery.phone }}
            <br>
            <a href="{{ brewery.website_url }}">Website Link</a>
        </li>
        <a href='/review?brewery_id={{ brewery.id }}'>Leave a review</a>
    </ul>
</div>

{% endfor %}
{% endblock %}