{% extends 'base.html' %}
{% block content %}

{% for brewery in brewery_info %}
<div>
    <ul>
        <li>{{ brewery.name }} 
            <br>
            {{ brewery.city }} {{ brewery.state }} 
            <br>
            {{ brewery.street }}{{ brewery.postal_code}}
            <br>
            Phone Number: {{ brewery.phone }}
            <br>
            <a href="{{ brewery.website_url }}">Website Link</a>
        </li>
            <a href="/review?brewery_id={{ brewery.id }}">Leave a Review!</a>
    </ul>
</div>

{% endfor %}
{% endblock %}